<p style="color: green"><%= notice %></p>

<%= render @url %>

<div>
  <%= link_to "Edit this url", edit_url_path(@url) %> |
  <%= link_to "Back to urls", urls_path %>

  <%= button_to "Destroy this url", @url, method: :delete %>
</div>


<ins><strong><h3>Report Summary</h3></strong></ins>
<div>
  <% @url.visits.group(:geolocation).count.each do |location, visit_count| %>
    <p><%= "Visits from #{location}: #{visit_count}" %></P>
  <% end %>
</div>

<ins><strong><h3>Shortlink visit history</h3></strong></ins>
<div id="visits">
  <% @url.visits.each do |visit| %>
    <div class="visit">
      <p>Timestamp: <%= visit.created_at %></P>
      <p>Geolocation: <%= visit.geolocation %></P>
      <p>Coordinates: <%= visit.geocoordinates %></P>
    </div>
  <% end %>
</div>
